<div class="row">
<div class="col-md-12">
<h2>Board ID: <span id="board_id"><%= @board_id %></span></h2>
</div>
</div>

<style>
#main{font-size:1.5rem;}
</style>

<div class="row">
<div class="col-md-12">
<a href="../">Frightboard Index</a>
<table class="table table-striped" id="main">
  <thead>
    <tr>
      <!-- th>#</th -->
      <th>IID</th>
      <th>STATUS</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Annotation</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: items">
    <tr>
      <!-- td data-bind="text: $index()+1"></td -->
      <td data-bind="text: iid"></td>
      <td><span data-bind="css: demo_helper_css($data.status), text: status"></span></td>
      <td data-bind="text: created_at"></td>
      <td>
        <span data-bind="text: updated_at"></span>
        (<span data-bind="text: moment(new Date(updated_at)).locale('ja').fromNow()"></span>)
      </td>
      <td data-bind="text: JSON.stringify(annotation)"></td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="row">
<div class="col-md-12">
<a href="../">Frightboard Index</a>
</div>
</div>

<hr>

<h4>API Reference</h4>

<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#api-reference" aria-expanded="false" aria-controls="api-reference">Show</button>

<div class="row collapse" id="api-reference">
<div class="col-md-12">

<h5>GET <%= @api_endpoint_uri %></h5>
<pre><code>
$ curl -s <%= @api_endpoint_uri %> | jq .
[
  {
    "board_id": "<%= @board_id %>",
    "iid": "pc01",
    "status": "completed",
    "created_at": "2015-11-10 00:08:28 +0900",
    "updated_at": "2015-11-10 00:10:11 +0900",
    "annotation": null
  },
  {
    "board_id": "<%= @board_id %>",
    "iid": "group/pc02",
    "status": "running",
    "created_at": "2015-11-10 00:40:03 +0900",
    "updated_at": "2015-11-10 00:49:43 +0900",
    "annotation": {
        "asset_id": "A0123"
    }
  }
]
</code></pre>

<h5>POST <%= @api_endpoint_uri %></h5>
<p>Create and Update</p>
<ul>
  <li><code>iid</code>(*): </li>
  <li><code>status</code>: </li>
  <li><code>annotation</code>: </li>
</ul>
<pre><code>
## Simple;
$ curl -X POST -d 'iid=pc01' <%= @api_endpoint_uri %>

## Params;
$ curl -X POST -d 'iid=pc01' -d 'status=running' -d 'annotation={"asset_id":"A0123"}' <%= @api_endpoint_uri %>

## Using QueryString
$ curl -X POST -d 'status=running' '<%= @api_endpoint_uri %>?iid=pc01'
</code></pre>

<h5>DELETE <%= @api_endpoint_uri %>/IID</h5>
<ul>
  <li><code>iid</code>(*): </li>
</ul>
<pre><code>
$ curl -X DELETE <%= @api_endpoint_uri %>/pc01
</code></pre>

</div>
</div>

<script>
/* Markup status css class using Bootstrap for demo:data */
function demo_helper_css(status) {
    var demo_status_list = {
        created:    "badge badge-primary",
        waiting:    "badge badge-secondary",
        running:    "badge badge-success",
        blocked:    "badge badge-danger",
        terminated: "badge badge-dark",
        updated:    "badge badge-info",
    };
    try {
        var r = demo_status_list[status];
    } catch(e) {
        var r = "";
    }
    return r;
}

function koViewModel() {
    var self = this;
    self.items = ko.observableArray();
}

// ENTRYPOINT //
document.addEventListener("DOMContentLoaded", function() {
    var vm = new koViewModel();
    ko.applyBindings(vm);
    $.getJSON("<%= @api_endpoint_path %>?order=<%= @order %>")
    .done(function(data) { vm.items(data); })
    .fail(function(err) { console.debug(err); });

    setInterval(function() {
        $.getJSON("<%= @api_endpoint_path %>?order=<%= @order %>")
        .done(function(data) { vm.items(data); })
        .fail(function(err) { console.debug(err); });
    }, 3000);
});
</script>
