<h2>Frightboard</h2>

<form action="/api/v1" method="post">
<input type="submit" value="Create NEW Board">
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>BOARD_ID</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody data-bind="foreach: items">
    <tr>
      <td><a data-bind="text: board_id, attr: {href: board_id}"></a></td>
      <td data-bind="text: created_at"></td>
      <td><button class="btn btn-danger delete" type="button" data-bind="attr: {board_id: board_id}">DELETE</td>
    </tr>
  </tbody>
</table>

<h4>API Reference</h4>

<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#api-reference" aria-expanded="false" aria-controls="api-reference">Show</button>

<div class="row collapse" id="api-reference">
<div class="col-md-12">

<h5>GET <%= @api_endpoint_uri %></h5>
<pre><code>
$ curl -s <%= @api_endpoint_uri %> | jq .
[
  {
    "board_id": "1236500887573106689",
    "created_at": "2020-03-08 12:55:59 +0900"
  },
  {
    "board_id": "1236499785066745857",
    "created_at": "2020-03-08 12:51:36 +0900"
  }
]
</code></pre>

<h5>POST <%= @api_endpoint_uri %></h5>
<pre><code>
$ curl -X POST -d '' <%= @api_endpoint_uri %>
"An alternate resource is located at /1236501852808286209."
</code></pre>

<h5>DELETE <%= @api_endpoint_uri %>/BOARD_ID</h5>
<pre><code>
$ curl -X DELETE <%= @api_endpoint_uri %>/BOARD_ID
{"response":"accepted"}
</code></pre>

</div>
</div>

<script>
/* Markup status css class using Bootstrap for demo:data */
function koViewModel() {
    var self = this;
  self.items = ko.observableArray();
}

// ENTRYPOINT //
$(function(){
  var vm = new koViewModel();
  ko.applyBindings(vm);

  $.getJSON("/api/v1")
  .done(function(data) {
    vm.items(data);
    let es = document.getElementsByClassName('delete');
    for (var i = 0; i < es.length; i++) {
      es[i].addEventListener('click', function() {
        const api_endpoint = `/api/v1/${this.getAttribute('board_id')}`;
        console.log(`DELETE ${api_endpoint}`)
        $.ajax(api_endpoint, {"method": "DELETE",
          statusCode: {
            202: location.reload()
          }
        });
      });
    }
  }).fail(function(err) {
    console.debug(err);
  });
});
</script>
